{% load static %}
<!-- Sidebar - MoodTracker -->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <!-- Brand Logo -->
  <div class="sidebar-brand">
    <a href="{% url 'mes_activites' %}" class="brand-link">
      <img src="{% static 'adminlte/dist/assets/img/AdminLTELogo.png' %}" alt="MoodTracker Logo" class="brand-image opacity-75 shadow" />
      <span class="brand-text fw-light">MoodTracker</span>
    </a>
  </div>

  <!-- Sidebar Menu -->
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-lte-toggle="treeview" role="menu">
        <!-- Ajoute ici tes éléments du menu -->
      </ul>
    </nav>
  </div>
</aside>
